In [1]:
# Data Manipulations
import numpy as np
import pandas as pd

# for Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# for modelling
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

# to prevent annoying warnings
import warnings
warnings.filterwarnings('ignore')

# set seaborn as default style
sns.set()

pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [2]:
def format_float(value):
    return f'{value:,.2f}'

In [3]:
def convert_bytes_to_megabytes(df, bytes_data):
    """
        This function takes the dataframe and the column which has the bytes values
        returns the megabytesof that value
        df -- dataframe
        bytes_data --  column with bytes values
    """
    megabyte = 1*10e+5
    df[bytes_data] = df[bytes_data] / megabyte
    return df[bytes_data]

In [5]:
df = pd.read_csv('../data/Task1.csv')
df.head()

,Unnamed: 0,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,...,Total Session Social Media,Total Session Email,Total Session Youtube,Total Session Netflix,Total Session Google,Total Session Gaming,Total Session Other,Total duration all session,xDR Session,session duration
0,0,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,...,1570185.0,3701304.0,18355943.0,17855187.0,2905912.0,292426453.0,180558843.0,5.173738e+08,2,2083209.0
1,1,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,...,1933278.0,937385.0,39359124.0,35565545.0,4414096.0,609920783.0,541959383.0,1.234090e+09,2,1698167.0
2,2,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,...,1726277.0,3363124.0,34425237.0,23751202.0,10229119.0,229980251.0,414908351.0,7.183836e+08,1,1361762.0
3,3,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,...,657493.0,2070983.0,36534765.0,15092588.0,11811761.0,810387875.0,761837216.0,1.638393e+09,1,1321509.0
4,4,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,...,912788.0,2110349.0,34222253.0,17539799.0,7748843.0,531237049.0,564619822.0,1.158391e+09,1,1089009.0

In [6]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # dtype of missing values
        mis_val_dtype = df.dtypes
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent, mis_val_dtype], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values', 2: 'Dtype'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [8]:
missing_values_table(df)

Your selected dataframe has 67 columns.
There are 25 columns that have missing values.

,Missing Values,% of Total Values,Dtype
Nb of sec with 37500B < Vol UL,130253,86.8,float64
Nb of sec with 6250B < Vol UL < 37500B,111842,74.6,float64
Nb of sec with 125000B < Vol DL,97537,65.0,float64
TCP UL Retrans. Vol (Bytes),96648,64.4,float64
Nb of sec with 31250B < Vol DL < 125000B,93585,62.4,float64
Nb of sec with 1250B < Vol UL < 6250B,92893,61.9,float64
Nb of sec with 6250B < Vol DL < 31250B,88316,58.9,float64
TCP DL Retrans. Vol (Bytes),88145,58.8,float64
HTTP UL (Bytes),81809,54.5,float64
HTTP DL (Bytes),81473,54.3,float64
Avg RTT DL (ms),27828,18.6,float64
Avg RTT UL (ms),27811,18.5,float64
Last Location Name,1152,0.8,object
Nb of sec with Vol UL < 1250B,792,0.5,float64
10 Kbps < UL TP < 50 Kbps (%),791,0.5,float64
UL TP > 300 Kbps (%),791,0.5,float64
50 Kbps < UL TP < 300 Kbps (%),791,0.5,float64
UL TP < 10 Kbps (%),791,0.5,float64
Nb of sec with Vol DL < 6250B,754,0.5,float64
DL TP > 1 Mbps (%),753,0.5,float64
250 Kbps < DL TP < 1 Mbps (%),753,0.5,float64
50 Kbps < DL TP < 250 Kbps (%),753,0.5,float64
DL TP < 50 Kbps (%),753,0.5,float64
IMEI,571,0.4,float64
IMSI,569,0.4,float64

<h1>Fix Outliers<br>

Since we are to replace all outliers with medians for analysis purposes so we dont lose data. I wrote a function to do that by replacing all outliers values in a column greater than 95% with the median of that column